<div class="content">
  <div class="row function-name">
    <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3">
      <div class="float-left">
        <p class="function-text"><%= t ".title" %></p>
      </div>
      <% if can? :create, Subject %>
        <div class="float-right">
          <%= link_to t(".btn_create_subject"), new_admin_subject_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-10 offset-md-1">
    <ul class="list-group mb-2">
      <%= search_form_for @q, class: "d-flex justify-content-center" do |f|%>
        <div class="input-group-prepend w-100 mb-2 ">
          <%= f.search_field :name_or_content_cont, autofocus: true, class: "form-control",
                              placeholder: t(".search_subject_name_and_content")
          %>
          <div class="col-xs-2 ml-2">
            <%= number_field_tag :question_count_lteq, params[:question_count_lteq],
                                  min: 0, placeholder: t(".search_max_question"), class: "form-control"
            %>
          </div>
          <div class="col-xs-2 ml-2">
            <%= f.date_field :created_at_eq, as: :date,
                             value: f.object.try(:strftime,"%d/%m/%Y"), class: "form-control"
            %>
          </div>
          <%= f.submit class: "btn btn-primary ml-2" %>
        </div>
      <% end %>
      <%= render @subjects %>
    </ul>
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
</div>
