<% provide :placeholder, t(".placeholder_search_user") %>
<div class="content">
  <div class="row mt-2">
    <div class="col-md-10 offset-md-1">
      <div class="row mt-2">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-list-alt"></i> <%= t ".exams_history" %>
            </div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="text-center table-warning">
                  <th rowspan="1" class="align-middle"><%= t ".index" %></th>
                  <th rowspan="1" class="align-middle"><%= t ".subject" %></th>
                  <th rowspan="1" class="align-middle"><%= t ".created_at" %></th>
                  <th colspan="1" class="align-middle"><%= t ".spent_time" %></th>
                  <th colspan="1" class="align-middle"><%= t ".score" %></th>
                  <th colspan="1" class="align-middle"><%= t ".action" %></th>
                </tr>
              </thead>
              <tbody id = "search_result">
                <%= search_form_for @q, class: "d-flex justify-content-center " do |f|%>
                  <div class="input-group-prepend w-100 my-2  ">
                    <%= f.search_field :by_key_word_with_relation_tables, autofocus: true, class: "form-control",
                              placeholder: t(".search_username_email_subject") %>
                    <div class="col-xs-2 ml-2">
                      <%= number_field_tag :"q[score_lteq]", params[:score_lteq],
                                  min: 0, placeholder: t(".search_max_score"), class: "form-control" %>
                    </div>
                    <div class="col-xs-2 ml-2">
                      <%= f.date_field :created_at_eq, as: :date,
                             value: f.object.try(:strftime,"%d/%m/%Y"), class: "form-control" %>
                    </div>
                    <%= f.submit class: "btn btn-primary ml-2" %>
                  </div>
                <% end %>
                <%= render "shared/search_result" %>
              </tbody>
            </table>
            <div class="card-footer">
              Sun-asterisk ®
            </div>
          </div>
          <ul class="list-group">
            <br>
            <div class="d-inline">
              <div class="float-right">
                <%== pagy_bootstrap_nav @pagy %>
              </div>
            </div>
          </div>
        </ul>
      </div>
